/* feuille de style pour cubitus 1  */

body {
    background-color: turquoise;
    
}


.c1, .c2 {
    /* background-color: gold; */
    width: 150px;
    height: 150px;
    margin: 5px;
    
    float: left;
    border: 2px solid goldenrod;
    border-radius: 20%;

    text-align: center;
}

.c1 {
    background-color: darkorange;
}

.c2 {
    background-color: rebeccapurple
}

.clear {
    clear: both;
}








    