/* feuille de style pour cubitus 2 */

/* feuille de style cubitus 2 */

body {
    background-color: tomato;
    color: white;
    
}
.a1, .a2, .a3, .a4, .a5 {
    width: 150px;
    height: 150px;
    float: left;
    border:10px solid goldenrod;
    border-radius: 20%;
    text-align: center;
    margin: 5px;
}
.a1 {
    background-color: green;
    border-radius: 10%;
     border-bottom-left-radius:40% ;
     border-bottom-right-radius: 30%;
     border-top-right-radius: 20%;
}
.a2{
    background-color: red;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}
.a3{
    background-color: skyblue;
    width: 150px;
    height: 150px;
    margin: 1px;
    float: left;
    border: 1px solid #000000;
}
.a4{
    background-color: springgreen;
    border-collapse: collapse;
}
.a5{
    background-color: rosybrown;
}
.a6 {
    background-color: transparent;
    opacity: 0.2;
    width: 150px;
    height: 150px;
    float: left;
    border:10px solid transparent;
    border-radius: 20%;
    text-align: center;
    margin: 5px;   
   }
.clear {
    clear: both;
}





