/* feuille de style pour cubitus 2 */

/* feuille de style cubitus 2 */

body {
    background-color: beige;
    color: white;  
}

.c1, .c2, .c3, .c4, .c5, .empty  {

    border:3px solid black;
    width: 150px;
    height: 150px;
    text-align: center;
    float: left; 
    margin: 3px; 
}

.c1 {
    background-color: green;
    background-color: #0C9463;  
    border-radius: 10% 20% 30% 40%;
}
.c2 {
    background-color: hotpink;
     background-color: #9ACEFF;
    border-radius: 40% 0% 40% 0%;
    }

.c3 {
    background-color: indigo;
    border-radius: 50%;
}
.c4 {
    background-color: lightcoral;
    border-radius: 20% 40% 20% 40%;
}
.c5 {
    background-color: lightslategray;
    border-radius: 20% 40% 20% 40%;
}
.empty {
    opacity: 0;
}
.clear {
    clear: both;
}



    
/* 
.c1 {
    background-color: green;
    border-radius: 10%;
     border-bottom-left-radius:40% ;
     border-bottom-right-radius: 30%;
     border-top-right-radius: 20%;
}
.c2{
    background-color: red;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}
.c3{
    background-color: skyblue;
    width: 150px;
    height: 150px;
    margin: 1px;
    float: left;
    border: 1px solid #000000;
}
.c4{
    background-color: springgreen;
    border-collapse: collapse;
}
.c5{
    background-color: rosybrown;
}
.empty {
    background-color: transparent;
    opacity: 0.2;
    width: 150px;
    height: 150px;
    float: left;
    border:10px solid transparent;
    border-radius: 20%;
    text-align: center;
    margin: 5px;   
   }
.clear {
    clear: both;
}

 */



