
body {
    background-color: khaki;
}

form {
    background-color: #fafafa;
    padding:10px;
    width:280px;
}

fieldset {
    padding: 0 30px 30px 30px;
    margin-bottom:20px;
    border:10px solid #df3f3f;
}

legend {
    background-color: greenyellow;
}


label {
    background-color:ghostwhite;
}
textarea {
    background-color: white
}

input,textarea,select option {
    background-color: white;
}